/* MOBILE */
@media screen and (max-width:767px) {
  body {
    width: fit-content;
  }
  header {
    height: 100%;
  }
  .navbar-1 {
    padding: 10px 0 10px 0;
  }
  .navbar-1 div {
    display: inline-block;
  }
  .navbar-1 a {
    text-decoration: none;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #f2f2f2;
  }
  .name {
    margin-left: -124px;
    margin-top: -50px;
    font-size: 40px;
  }
  header .special-rate p {
    font-size: 12px;
    color: #f2f2f2;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 300;
  }
  header #offer-ends {
    font-size: 10px;
    color: orange;
    font-family: 'Julius Sans One', sans-serif;
    padding: 10px 0px;
  }
  .section-2-header  {
    margin-top: -50px;
    font-size: 30px;
  }
  .section-2 {
    margin-bottom: 50px;
  }
  .section-2 p {
    font-size: 20px;
    padding: 0 30px;
    margin: 0 auto;
  }
  .seating {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    height: 550px;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../img/seating.jpg');
    width: 100%;
    padding-bottom: 130px;
    background-attachment: fixed;
    color: #f2f2f2;
    text-align: center;
  }
  .seating-title {
    padding-top: 150px;
    font-size: 36px;
  }
  .seating-title h1 {
    font-size: 30px;
  }
  .seating-title p {
    font-size: 20px;
    padding: 40px 30px;
    line-height: 2;
  }
  .specials-container {
    width:80%;
    margin-top: -50px;
  }
  .specials-container h1 {
    font-size: 30px;
    padding-bottom: 34px;
  }
  img {
    height: 260px;
  }
  .text {
    font-size: 20px;
    padding: 0 50px 0 50px;
    top: 64%;
  }
  .text span {
    font-size: 12px !important;
  }
  .prev,.next {
    top: 64%;
  }
  .myDot {
    margin-bottom: -50px;
  }
  .sign-up {
    height: 480px;
  }
  .sign-up h1{
    font-size: 30px;
    padding-top: 50px;
  }
  .sign-up p {
    font-size: 20px;
    line-height: 2;
    margin: 0 50px;
  }
  .sign-up input {
    width: 60%;
    padding: 4px;
    font-size: 20px;
    font-family: 'Julius Sans One', sans-serif;
    background: #717171;
    color: #f2f2f2;
  }
  .sign-up input::placeholder {
    color: #f2f2f2;
  }
  .sign-up input:focus {
    outline: none;
  }
  .sign-up .submit {
    width: 30%;
    font-size: 26px;
    padding: 12px 0;
  }
  .popup .popup-content {
    height: 60%;
    width: 60%;
  }
  .popup .popup-content h2 {
    padding: 60px 0 20px 0;
    font-size: 30px;
  }
  .popup-body {
    font-size: 20px;
    padding-top: 20px;
  }
  .popup-body span {
    font-size: 16px;
    padding-top: 5px;
  }
  .hours h1 {
    font-size: 30px;
    padding-bottom: 16px;
    margin-top: -50px;
  }
  .hours p {
    font-size: 20px;
  }
  .social-links h1 {
    font-size: 30px;
    padding-bottom: 20px;
  }
  .social-links a {
    font-size: 50px;
    padding: 0 20px 0 32px;
  }
  .links {
    font-size: 20px;
  }
  .footer {
    font-size: 16px;
  }
}
/* Tablets */
@media (min-width:768px) and (max-width:1199px) {
  body {
    width: fit-content;
  }
  header .special-rate p {
    font-size: 18px;
    padding: 0 120px;
  }
  header #offer-ends {
    font-size: 16px;
    color: orange;
    font-family: 'Julius Sans One', sans-serif;
    padding: 10px 0px;
  }
  .section-2 p {
    margin: 0 120px;
  }
  .seating {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    height: 820px;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../img/seating.jpg');
    width: 100%;
    padding-bottom: 130px;
    background-attachment: fixed;
    color: #f2f2f2;
    text-align: center;
  }
  .seating-title {
    padding-top: 290px;
  }
  .seating-title p {
    padding: 40px 170px;
  }
  .specials-container {
    width:80%;
    position: relative;
    margin: auto;
  }
  .sign-up p {
    line-height: 2;
    margin: 0 160px;
  }
  .sign-up .email input[type=text] {
    width: 30%;
    font-size: 30px;
  }
  .submit {
    width: 14% !important;
    font-size: 30px;
    padding: 10px 0;
  }
  .sign-up {
    height:590px;
  }
  .social-links h1 {
    font-size: 30px;
  }
  .social-links a {
    font-size: 60px;
    padding: 0px 50px 0 50px;
  }
}

/* Laptops */
@media screen and (min-width:1200px) {
  .specials-container {
    width: 820px;
    height: 572px;
  }
  .text {
    bottom:160px;
  }
  .prev,.next {
    top: 58%;
    font-size: 70px;
    transition: 0.6s;
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 50px 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: 0.6s ease;
    margin-bottom: 62px;
  }
  .active, .dot:hover {
    background-color: orange;
  }
}

