/*
colors:
WHITE:F2F2F2
LIGHTGREY:A5A5A5
GREY:717171
DARKGREY:33333
BLACK:252525
 */
html,body {
  scroll-behavior: smooth;
  background: #252525;
  /* color: #f2f2f2; */
  height: 100%;
  margin: 0;
}

/* ******** HEADER ********** */
header {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
  background-repeat: no-repeat;
  zoom:1.4;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('header4.jpg');
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}
.navbar-1 {
  width: 100%;
  position: fixed;
  background-color: rgba(0,0,0,0.6);
  padding-top:20px;
  padding-bottom: 20px;
}
.navbar-1 div {
  display: inline-block;
  padding: 0px 10px;
}
.navbar-1 a {
  text-decoration: none;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: #f2f2f2;
}
.navbar-1 a:hover {
  cursor: pointer;
  color:#a5a5a5;
}
.name {
  padding-top: 220px;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 66px;
  font-weight: 400;
  color: #f2f2f2;
}
/* header p {
  font-size: 12px;
  padding-top: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}
header .button-1,
header .button-2 {
  border: none;
  border-radius: 5px;
  width:70px;
  background:white;
  display: inline-block;
  padding:11px;
  text-align: center;
  font-size: 12px;
  font-family: 'Julius Sans One', sans-serif;
  margin-top: 30px;
  color: #333333;
  background: #a5a5a5;
}
header .button-1:hover,
header .button-2:hover {
  cursor: pointer;
  background: #f2f2f2;
} */
header .special-rate {
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  bottom: 0;
  width: 100%;
}
header .special-rate p {
  font-size: 14px;
  color: #f2f2f2;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 300;
  margin-top: 14px;
}
header #offer-ends {
  font-size: 10px;
  color: orange;
  font-family: 'Julius Sans One', sans-serif;
  padding: 12px 0px;
}

/* ******** About ************ */

.section-2-header .about-title {
  text-align: center;
  padding-bottom: 16px;
  color: #f2f2f2;
}
.section-2-header .about-title:after {
  content: "";
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid white;
  width: 30%;
  padding-top: 12px;
}
.section-2-header  {
text-align: center;
padding-top: 100px;
color: #f2f2f2;
font-family: 'Julius Sans One', sans-serif;
font-size: 42px;
font-weight: 400;
}
.section-2 {
  margin-bottom: 100px;
}
.section-2 p {
  font-size: 24px;
  color:#f2f2f2;
  font-family: 'Lato', sans-serif;
  line-height: 2;
  margin: 0 230px;
  text-indent: 40px;
  font-weight: 100;
}

/* ****** Seating section ******** */

.seating {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
  height: 500px;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../img/seating.jpg');
  width: 100%;
  padding-bottom: 130px;
  background-attachment: fixed;
  color: #f2f2f2;
  text-align: center;
}
.seating-title {
  padding-top: 150px;
}
.seating-title h1 {
  font-size: 42px;
  font-family: 'Julius Sans One', sans-serif;
}
.seating-title p {
  font-size: 24px;
  padding: 30px 400px;
  line-height: 2;
  font-family: 'Lato', sans-serif;
}

/* ****** Specials ********* */
* {
  box-sizing: border-box;
}
.specials-container {
  width:60%;
  position: relative;
  margin: auto;
}
.specials-container h1 {
  font-size: 42px;
  font-family: 'Julius Sans One', sans-serif;
  color: #f2f2f2;
  padding-top: 100px;
  padding-bottom: 16px;
  text-align: center;
}
.specials-container h1:after {
  content: "";
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid white;
  width: 48%;
  padding-top: 12px;
}
.mySlides {
  display: none;
}
img {
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
  height: 400px;
  background-repeat: no-repeat;
  opacity: 0.5;
}
.prev,.next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #f2f2f2;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s;
}
.prev:hover,.next:hover {
  color:#a5a5a5;
}
.next {
  right: 0;
}
.text {
  font-size: 42px;
  font-family: 'Julius Sans One', sans-serif;
  color: #f2f2f2;
  padding: 8px 12px;
  position: absolute;
  bottom: 155px;
  width: 100%;
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 30px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s ease;
  margin-bottom: 100px;
}

.active, .dot:hover {
  background-color: orange;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* ******** Sign up ********** */
.sign-up {
  text-align: center;
  background: #333333;
  font-family: 'Julius Sans One', sans-serif;
  height: 400px;
}
.sign-up h1{
  font-size: 42px;
  font-family: 'Julius Sans One', sans-serif;
  /* color: #f2f2f2; */
  color: orange;
  padding-top: 100px;
  padding-bottom: 16px;
  text-align: center;
}
.sign-up p {
  color: #f2f2f2;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
}
.sign-up .email {
  font-size: 30px;
  text-align: center;
  color: white;
  padding-top: 30px;
  padding-bottom: 20px;
}
.sign-up .email input {
  outline: none;
  border-radius: 5px;
}
.sign-up .email input[type=text] {
  color: white;
  background-color: #717171;
  border: none;
  width: 20%;
  padding: 10px 0px 10px 10px;
  font-size: 25px;
  font-family: 'Julius Sans One', sans-serif;
}
.sign-up .email input::placeholder {
  color:#a5a5a5;
  font-family: 'Julius Sans One', sans-serif;
}
.submit {
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  background: #f2f2f2;
  color: #252525;
  width: 10%;
  text-align: center;
  margin: 0 auto;
  font-size: 24px;
  margin-bottom: 100px;
  padding: 10px 0;
}
.submit:hover {
  cursor: pointer;
  background:#a5a5a5;
  transition: .2s ease;
}

/* .links .locations p:hover {
  cursor: pointer;
  color:orange;
}
.links .additional p:hover {
  cursor: pointer;
  color: orange;
} */

/* ******** Contact ********** */
.links {
  font-family: 'Julius Sans One', sans-serif;
  width: 100%;
  padding: 60px 300px 130px 300px;
}
.links p {
  color:orange;
  font-size: 24px;
}
.links p:hover {
  cursor: pointer;
  color: #a5a5a5;
}
.locations {
  float: left;
}
.additional {
  float: right;
}
.locations h1,.additional h1 {
  font-size: 34px;
  color:#f2f2f2;
}
.contact {
  text-align: center;
  margin-top: 100px;
}
.hours {
  color: #f2f2f2;
  font-size: 24px;
  font-family: 'Julius Sans One', sans-serif;
}
.hours h1 {
  font-size: 42px;
  color: #f2f2f2;
  padding-bottom: 16px;
}
.hours h1:after {
  content: "";
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid white;
  width: 30%;
  padding-top: 12px;
}
.hours p {
  padding: 16px 0 20px 0;
}
.social-links h1 {
  font-size: 24px;
  color:#f2f2f2;
  margin-top: 40px;
  padding-bottom: 16px;
  font-family: 'Julius Sans One', sans-serif;
}
.social-links a {
  color: #f2f2f2;
  font-size: 50px;
  padding: 0 20px 0 20px;
}
.social-links a:hover {
  color: #a5a5a5;
}

/* .additional-links span:hover {
  color: #a5a5a5;
  cursor: pointer;
} */
.footer {
  color: #f2f2f2;
  font-size: 18px;
  margin-top: 70px;
  font-family: 'Julius Sans One', sans-serif;
  padding-bottom: 20px;
  }
